:root{

--Red400: hsl(0, 100%, 74%) ;
--Green400: hsl(154, 59%, 51%);
/* ### Accent */
--Purple700: hsl(248, 32%, 49%);
/* ### Neutral */
--Gray900: hsl(249, 10%, 26%) ;
--Purple350: hsl(246, 25%, 77%);
}

*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.limitador{
    width: 85%;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    font-family: "Poppins";
    font-size: 16px;
    height: 100dvh;
    background: var(--Red400);
    background-image: url(/images/bg-intro-mobile.png) ;
}

.fundo{
    width: 100%;
    height: 100dvh;
    margin-top: 4rem;
    margin-bottom: 4rem;
    

    text-align: center;
    justify-content: space-around;
    gap: 1rem;
}

.title{
    width: 69%;
    color: white;
    font-size:20px ;
}

.intro{
    gap: 1.5rem;
    width: 100%;
    color: white;
}

.description{
    justify-content: center;

}

.container{
    width: 100%;
    gap: 2rem;
    padding-bottom: 2rem;
}

.free {
    justify-content: center;
    /* height: 5rem; */
    /* background: var(--Purple700); */
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.free a{
    margin: 0 auto;
    padding: 1.5rem;
    text-align: center;
    background: var(--Purple700);
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
}

input{
    height: 4rem;
    width: 100%;
    color: var(--Gray900);
    border-color: var(--Purple350);
}

form{
    padding: 1.5rem;
    gap: 1rem;
    
}

.claim{
    background: var(--Green400);
    border: none;
    color: white;
    font-size: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 5px;
    cursor: pointer;
}

.form{
    height: fit-content;
    background: #ffff;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

form a{
    color: var(--Red400);
    text-decoration: none;
}

form p{
    font-size: 12px;
    color: var(--Purple350);
}

input::placeholder{
    padding-left: 1.5rem;
    /* text-align:right; */
}

@media(min-width:550px){
    form{
        width: 100%;
    }
}

@media(min-width:740px){
    .fundo{
        height: 100dvh;
    }

    .free{
        flex-direction: row;
    }

    .free a br{
        display: none;
    }

    form{
        width: 90%;
        padding: 3rem 0;
    }

    input{
        outline-color: var(--Gray900);
        border-radius: 15px;
    }

    input:required{
        background-image: url(/images/icon-error.svg);
        background-repeat: no-repeat;
        background-position: bottom 10px right 20px; ;
        background-position-y: center;
        outline-color: var(--Red400);
        color: var(--Red400);
    }

    input:placeholder-shown{
        color: var(--Red400);
    }

    .container{
        height: 100dvh;
    }

    .intro{
        text-align: center;
        height: 50dvh;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        width: 90%;
    }

    .intro h1{

        font-size: 4rem;
        line-height: 3rem;
    }

    .title{
        width: 80%;
        margin-left: 0;
    }

    .fundo{
        align-items: center;
    }

    .description{
        font-size: 1rem;
        width: 80%;
    }

}

@media(min-wodth:820px){

    .intro{
        justify-content: center;
    }
    .description{
        font-size: 4rem;
    }

    .container{
        margin-top: 0;
        padding-top: 0;
    }
}

@media(min-width:1280px){
    .fundo{
        flex-direction: row;
        height: 100vh;
    }

    .free{
        flex-direction: row;
    }

    .free a br{
        display: none;
    }

    form{
        width: 90%;
        padding: 3rem 0;
    }

    input{
        outline-color: var(--Gray900);
        border-radius: 15px;
    }

    input:required{
        background-image: url(/images/icon-error.svg);
        background-repeat: no-repeat;
        background-position: bottom 10px right 20px; ;
        background-position-y: center;
        outline-color: var(--Red400);
        color: var(--Red400);
    }

    input:placeholder-shown{
        color: var(--Red400);
    }

    .container{
        height: 100vh;
    }

    .intro{
        margin: 0 auto;
        text-align: center;
        height: 50vh;
        align-items: center;
        /* justify-content: center; */
        gap: 3rem;
        width: 90%;
    }

    .intro h1{
        font-size: 3rem;
        line-height: 3rem;
    }

    .title{
        width: 80%;
        text-align: left;
        margin-left: 0;
    }

    .fundo{
        align-items: center;
    }

    .description{
        width: 80%;
        text-align: left;
    }
}